<nav id="navbar">
    <div id="logo">
        <img src="../img/logo1.PNG" alt="myonlinemeal.com">
    </div>
    <ul>
        <li class="item"><a href="#about">About</a> </li>
        <li class="item"><a href="#contact"> Contact us</a></li>
        <li class="item"><a href="#okay"> Okay</a></li>
        <li class="item1">
            <input class="input" type="text">
            <input class="btn" type="button" value="Search">
        </li>
        <li class="item2"><a href="../HTML/login1.html">Log in</a></li>
        <li class="item2"><a href="../HTML/signup1.html">Sign up</a></li>
    </ul>
</nav>

<main>
    <h1 class="pp_h1">Grab Some Tasty Items</h1>
    <section>
        <div id="pp_div1">
            <div id="pp_div2">
                <section class="pp_abc">
                    <div id="pp_div3">
                        <img id="pp_div_img" src="{{img}}" alt="Bad-Server Problem">
                        <h2>{{name}}</h2>
                        <p id="pp_part1"><b>Price :</b> ₹{{Price}}</p>
                        <p id="pp_part2"><b class="pp_rating">{{Rating}}</b><span class="star"></span></p>
                        <p id="pp_part3"><b>Delivery In :</b> 30 min</p>
                        <p id="pp_part4"><img src="../img/location.png" alt=""> {{Location}} </p>
                        <button class="pp_add_cart" id="{{id}}">Add cart</button>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section>
        <hr>
        <!-- <h2>Here Is Some More Product</h2> -->
        <div id="product_det">
                <div class="list_cont">
                <div class="product_content">
                    <a href="" id="online_box">
                        <img class="product_img" src="{{img1}}" alt="">
                        <p class="center">{{name1}}</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>